In [57]:
import pandas as pd
import seaborn as sb

In [43]:
data = pd.read_csv(r'C:\Users\nari9\OneDrive\Documents\Projects\GenderModel\Data\wgnd_ctry.csv')

In [44]:
del data['gchar12']
del data['gchar1']
del data['gchar2']

In [45]:
print (data.head())

name code gender
0  A HANNAN   CA      M
1     A JAY   CA      M
2     A JAY   GB      M
3   A K I L   CA      M
4     A LAH   CA      F

In [46]:
print (data.describe())

name    code  gender
count   290016  289848  290020
unique  185923     172       3
top      MARIA      US       F
freq        46   96593  157293

In [47]:
data.isnull().any()

name       True
code       True
gender    False
dtype: bool

In [48]:
data[data['name'].isnull()]

       name code gender
189076  NaN   CN      F
189077  NaN   GB      F
189078  NaN   KR      ?
189079  NaN   US      F

In [49]:
data.dropna(subset = ['name'], inplace = True)

In [50]:
data[data['name'].isnull()]

Empty DataFrame
Columns: [name, code, gender]
Index: []

In [51]:
data[data['gender'].isnull()]

Empty DataFrame
Columns: [name, code, gender]
Index: []

In [52]:
data = data[data['name']<='zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz']

In [53]:
data['gender'] = data['gender'].map({'F': 1, 'M': 2, '?' : 0})
print (data)

name code  gender
0       A HANNAN   CA       2
1          A JAY   CA       2
2          A JAY   GB       2
3        A K I L   CA       2
4          A LAH   CA       1
...          ...  ...     ...
289451    ZYVION   US       2
289452      ZYXA   CA       1
289453   ZYYANNA   US       1
289454      ZZAK   CA       2
289455     ZZYZX   US       2

[289452 rows x 3 columns]

In [54]:
del data['code']

In [55]:
data.describe()

              gender
count  289452.000000
mean        1.317928
std         0.596909
min         0.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         2.000000

In [56]:
data.head()

       name  gender
0  A HANNAN       2
1     A JAY       2
2     A JAY       2
3   A K I L       2
4     A LAH       1

In [62]:
data['gender'].value_counts()

1    157063
2    112207
0     20182
Name: gender, dtype: int64

In [70]:
ndata = data['name'].duplicated(keep = False)

In [76]:
ndata =  (data[~ndata])

In [78]:
print (ndata)

name  gender
0       A HANNAN       2
3        A K I L       2
4          A LAH       1
5         A LIAN       0
6          A MEI       0
...          ...     ...
289451    ZYVION       2
289452      ZYXA       1
289453   ZYYANNA       1
289454      ZZAK       2
289455     ZZYZX       2

[132512 rows x 2 columns]

In [81]:
ndata['gender'].value_counts()

1    72731
2    49810
0     9971
Name: gender, dtype: int64

In [84]:
newdataset = pd.DataFrame(columns=['name', 'gender'])

In [85]:
for row in ndata.itertuples():
    names = row[1].lower().split(" ")
    gender = row[2]
    print (names, gender)

['A', 'HANNAN'] 2

KeyError: 1

a
e